* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #dcdcdc;
    font-family: 'Architects Daughter';
    color: #000033;
    padding: 3%;
    line-height: 1.5;
}

main {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

h1 {
    font-family: 'Eagle Lake';
    color: #b30000;
    margin-bottom: 2rem;
    max-width: 230px;
}

img {
    width: 100%;
    margin: auto;
}

figure {
    width: 70%;
    max-width: 370px;
    padding: 2rem;
    margin: auto;
}

figcaption {
    font-size: small;
    text-align: center;
}

section {
    text-align: center;
}

select {
    padding: 5px;
    border: 1px solid #000033;
}

section img {
    display: block;
    max-width: 100px;
}

@media (min-width: 1000px) {
    figure {
        width: 50%;
        float: left;
    }
}
